@media screen and (max-width: 64em) {
  main .inner:has(> .sidebar) {
    display: flex;
    flex-direction: column;
  }
  main .sidebar {
    width: 100%;
    max-width: 100%;
  }
  main .sidebar.static {
    position: static;
  }
  main .sidebar + .content {
    width: 100%;
    padding: 1rem 0;
  }
  main .sidebar.static + .content {
    margin-left: 0;
  }
  .no-results {
    width: 80% !important;
  }
  .post {
    max-width: 768px;
    margin: 2rem auto;
  }
}
/* Tablet */
@media screen and (max-width: 47.9375em) {
  .header button[data-action="theme"] {
    width: 2rem;
    height: 2rem;
  }
  main {
    margin-top: var(--header-size);
    width: 100%;
  }
  main .content {
    padding: 1rem 0;
  }
  .post-list li {
    height: auto;
    flex-direction: column;
    gap: 1rem;
  }
  .post-list li > * {
    width: 100% !important;
  }
  .post-list li > .info {
    max-height: 8rem;
  }
  .post-list li > .logo {
    height: 10rem;
  }
  .no-results {
    width: 90% !important;
  }
  .tag-list {
    display: -webkit-inline-box;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .post {
    margin: 0 auto 1rem;
  }
  .post blockquote {
    margin: 1rem 0;
  }
  .post > *:not(:first-child) {
    margin-top: 2rem;
  }
  .post .post-metadata ul.meta-list {
    gap: 0.25rem;
  }
  .post .post-metadata ul.tag-list li {
    padding: 0.3rem 0.6rem;
  }
}
/* Mobile */
@media (max-width: 30em) {
  .app-logo .title {
    font-size: 1.25rem;
  }
}
