{% extends "template/overview.html" %}
{% from "components/_macros.html" import page_empty, article_row with context %}

{% set page_name = _('아카이브') %}
{% set page_desc %}{% trans count=dates|length %}{{ count }}개의 메모{% pluralize %}{{ count }}개의 메모{% endtrans %}{% endset %}

{% block page_body %}
    {% set ns = namespace(year='') %}
    <ol class="archive-list">
        {% for article in dates %}
            {% set year = article.date|strftime('%Y') %}
            {% if year != ns.year %}
                {% set ns.year = year %}
                <li class="archive-year">
                    <span>{{ year }}</span>
                </li>
            {% endif %}
            {{ article_row(article) }}
        {% else %}
            {{ page_empty('box-open', _('아직 메모가 없어요.')) }}
        {% endfor %}
    </ol>
{% endblock %}
