{% extends "template/base.html" %}
{% block notelist %}{% endblock %}
{% block body_class %}has-note{% endblock %}
{% block title %}{{ super() }} - Categories{% endblock %}
{% block content %}
    <div class="page">
        <header class="page-head">
            <h1 class="page-title">카테고리</h1>
            <p class="page-desc">{{ categories|length }}개의 폴더</p>
        </header>

        <ul class="folder-grid">
            {% for element, element_articles in categories %}
                {% set latest = element_articles|first %}
                <li>
                    <a href="{{ SITEURL }}/{{ element.url }}">
                        <span class="folder-icon"><i class="fas fa-folder"></i></span>
                        <span class="folder-info">
                            <span class="folder-name">{{ element.name|capitalize }}</span>
                            <span class="folder-meta">
                                {{ element_articles|length }}개의 메모
                                {% if latest %}
                                    ㆍ{{ latest.date|strftime(DEFAULT_DATE_FORMAT) }}
                                {% endif %}
                            </span>
                        </span>
                        <i class="fas fa-chevron-right folder-chevron"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-empty">
                    <i class="fas fa-folder-open"></i>
                    <p>아직 폴더가 없어요.</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
